@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Fix button icon alignment
 */

.ant-popover-buttons, .ant-modal-confirm-btns, .ant-modal-footer {
    display: flex;
    justify-content: flex-end;
}

.ant-dropdown-menu-title-content > a {
    display: flex;
    align-items: center;
    gap: 4px;
}

.anticon svg {
    display: block !important;
}
