@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Fix button icon alignment
 */

.ant-popover-buttons, .ant-modal-confirm-btns, .ant-modal-footer {
    display: flex;
    justify-content: flex-end;
}

.ant-dropdown-menu-title-content > a {
    display: flex;
    align-items: center;
    gap: 4px;
}

.anticon svg {
    display: block !important;
}

.filter-select .ant-select-selector {
    @apply shadow-md;
}

.ant-page-header {
    @apply !px-4;
    @apply md:!px-6;
}

.container-fluid {
    @apply !p-4;
    @apply md:!px-6;
    @apply flex;
    @apply flex-col;
    @apply gap-4;
    @apply md:gap-6;
}
